<div>
	<h2><%= @product.name %></h2>
	<%= @product.name %><br>
	<%= @product.quantity %><br>
	<%= @product.price %><br>
	<%= @product.description %><br>
	<%= image_tag product.image.url(:original) %><br>
</div>
