<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><%= link_to "home", root_path %></li>
					<li><%= render "layouts/search" %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hero-unit">
		<div class="container">
			<h1>Aj's Sports Memorabilia</h1>
		</div>
	</div>
<div class="container">
	<%= yield %>
</div>
</div>


</body>
</html>
